.card {
    width: 80%;
    margin: 30px auto;
}

.education-card .card-header {
    background-color: var(--md-blue-500);
    color: var(--md-white)
}

.education-card .card-body {
    background-color: var(--md-blue-300);
}

.institution-card .card-header {
    background-color: var(--md-orange-500);
}

.institution-card .card-body {
    background-color: var(--md-orange-300);
}

.assessment-card .card-header {
    background-color: var(--md-deep-purple-500);
    color: var(--md-white)
}

.assessment-card .card-body {
    background-color: var(--md-deep-purple-300);
}

a, .card-header .card-title {
    color: inherit;
    text-decoration: none;
}

a:hover, .card-header .card-title {
    color: inherit;
    text-decoration: underline;
}