.card {
    width: 80%;
    margin: 30px auto;
}

.education-card .card-header {
    background-color: var(--md-blue-500);
    color: var(--md-white)
}

.education-card {
    background-color: var(--md-blue-300);
}

form .education-card * {
    background-color: inherit;
    color: inherit;
    border: 0;
}

form .education-card *:focus {
    background-color: inherit;
    box-shadow: none;
    border: 1px solid var(--md-black);
}

.education-card .btn-primary {
    background-color: var(--md-blue-500);
}

.education-card .btn-primary:hover {
    background-color: var(--md-blue-700);
}

.education-card textarea {
    resize: none;
    height: 200px;
}

.institution-card .card-header {
    background-color: var(--md-orange-500);
}

.institution-card .card-body {
    background-color: var(--md-orange-300);
}

.assessment-card .card-header {
    background-color: var(--md-deep-purple-500);
    color: var(--md-white);
}

.assessment-card .card-body {
    background-color: var(--md-deep-purple-300);
}

.checkmark {
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 4px;
}

.filter {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto;
    gap: 30px;
}

a, .card-header .card-title {
    color: inherit;
    text-decoration: none;
}

a:hover, .card-header .card-title {
    color: inherit;
    text-decoration: underline;
}
